@model IEnumerable<WebApp.Models.CustomerWithSellerViewModel>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#selectedCity").change(function () {
            $("#selectedRegion").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetRegions", "CustomerList")',
                dataType: 'json',
                data: { id: $("#selectedCity").val() },

                success: function (regions) {
                    $.each(regions, function (i, region) {
                        $("#selectedRegion").append('<option value="' + region.Value + '">' + region.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve region.' + ex);
                }
            });
            return false;
        })
    });
</script>


@using (Html.BeginForm("ApplyFilters", "AdminCustomerList"))
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td align="right">@Html.Label("Name:")</td>
                        <td>@Html.TextBox("name")</td>
                        <td align="right">@Html.Label("Gender:")</td>
                        <td>@Html.DropDownList("selectedGender", new SelectList(ViewBag.ViewModel.Genders, "ID", "Name"), string.Empty)</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.Label("City:")</td>
                        <td>@Html.DropDownList("selectedCity", new SelectList(ViewBag.ViewModel.Cities, "ID", "Name"), string.Empty)</td>
                        <td align="right">@Html.Label("Region:")</td>
                        <td>@Html.DropDownList("selectedRegion", new SelectList(string.Empty, "Value", "Text"), string.Empty, new { @class = "dropdown1" })</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.Label("Classification:")</td>
                        <td>@Html.DropDownList("selectedClassification", new SelectList(ViewBag.ViewModel.Classifications, "ID", "Name"), string.Empty)</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.Label("Last purchase:")</td>
                        <td>@Html.TextBox("dateMin", null, new { @class = "datefield", type = "date" })</td>
                        <td align="right">@Html.Label("until:")</td>
                        <td>@Html.TextBox("dateMax", null, new { @class = "datefield", type = "date" })</td>
                    </tr>
                    <tr>
                        <td align="right">@Html.Label("Seller:")</td>
                        <td>@Html.DropDownList("selectedSeller", new SelectList(ViewBag.ViewModel.Sellers, "ID", "Name"), string.Empty)</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td><input type="submit" value="Search" /></td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Clear fields", "Index", "AdminCustomerList")</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    var grid = new WebGrid(Model, defaultSort: "Name", rowsPerPage: 50);

    @grid.GetHtml()
}